{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About Gamehub - Game Platform</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="index.html">GAME<em>hub</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>About <em>Us</em></h1>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/service_1.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>FREE Game Platform</h4>
                        <p>Gamehub is a good platform that is available for free...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/service_2.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>24/7 Support</h4>
                        <p>Feel free to ask anything from our support operators at any time at any place...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/service_3.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>international</h4>
                        <p>sign up for free and enjoy our services in every part of world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/service_4.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>Cloud services</h4>
                        <p>Watch the games online and download it whenever you want.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/service_5.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>Live Streams</h4>
                        <p>Livestreams are available online.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'img/service_6.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>Accounts</h4>
                        <p>Create game accounts and enjoy it...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- sdsddddddddddddddddddddddddddddddddddddddddddd -->
{% if about %}
{% for abt in about %}
    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>{{Events}}</h2>
                    <span>{{abt.title}}</span>
                    <p>{{abt.body}}
                    <br><br> </p>
                    <div class="simple-btn">
                        <a href="#">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-12">
        <p>No Game Available</p>
        </div>
{% endif %}

    <div class="pricing-tables">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="table-item">
                    <h4>$250/mo</h4>
                    <span>Starter Plan</span>
                    <ul>
                    	<li>SERVICE1</li>
                        <li>SERVICE2</li>
                        <li>SERVICE3</li>
                        <li>SERVICE4</li>
                        <li>SERVICEn</li>
                    </ul>
                    <div class="simple-btn">
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="table-item premium-item">
                    <h4>$420/mo</h4>
                    <span>Standard Plan</span>
                    <ul>
                        <li>SERVICE1</li>
                        <li>SERVICE2</li>
                        <li>SERVICE3</li>
                        <li>SERVICE4</li>
                        <li>SERVICEn</li>
                    </ul>
                    <div class="simple-btn">
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="table-item">
                    <h4>$750/mo</h4>
                    <span>Premium Plan</span>
                    <ul>
                        <li>SERVICE1</li>
                        <li>SERVICE2</li>
                        <li>SERVICE3</li>
                        <li>SERVICE4</li>
                        <li>SERVICEn</li>
                    </ul>
                    <div class="simple-btn">
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 Amirhosein Abbasi 
    
    | Designed by Amirhosein</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="{% static 'img/contact-icon.png' %}" alt=""></button>
     
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Say hello to <em>Gamehub</em></h3>
          <div class="close-btn"><img src="{% static 'img/close_contact.png' %}" alt=""></div>    
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="{% url 'message' %}" method="post">
                {% csrf_token %}
                {{form}}
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="{% url 'index' %}">Home</a>
                  </li>
                  <li>
                      <a href="{% url 'news' %}">News</a>
                  </li>
                  <li>
                      <a href="grid.html">Blog</a>
                  </li>
                  <li>
                      <a href="blog.html">Register</a>
                  </li>
                  <li>
                      <a href="single-post.html">Lives</a>
                  </li>
              </ul>
              <p>We create awesome services for you</p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>