{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>GameHub-index</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %} ">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %} ">
        <link rel="stylesheet" href="{%static 'css/templatemo-style.css' %} ">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">Game<em>hub</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Welcome to <em>Game Hub..</em></h1>
              <p>Best platform for gaming</p>
              <p>CHALLANGE YOURSELF</p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="{% static 'img/scroll-icon.png' %}" alt=""></a>
                </div>    
            </div>
        </div>
        {% if videos %}
        {%for video in videos %}
        <video autoplay loop muted name=video>
        	<source src="{{video.videos.url}}" type="video/mp4" />
        </video>
        {% endfor %}
        {% endif %}
    </div>


    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">

            {% if games %}
            {% for game in games %}
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{{ game.photo.url }}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>{{game.fname}} <em></em></h1>
                                <p>{{game.shname}}</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ game.photo.url }}">
                        </div>
                    </div></a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No Game Available</p>
                </div>

            {% endif %}
         
          
   
    
         
            </div>
        
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 Amirhosein Abbasi 
    
    | Designed by Amirhosein</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="{% static 'img/contact-icon.png' %}" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">HI <em>MY Budy</em></h3>
          <div class="close-btn"><img src="{% static 'img/close_contact.png' %}" alt=""></div>    
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form  action="{% url 'message' %}" method="post">
                {% csrf_token %}
                {{form}}
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  
                  <li>
                      <a href="{% url 'news' %}">News</a>
                  </li>
                  <li>
                      <a href="">Blog</a>
                  </li>
                  <li>
                      <a href="{% url 'register' %}">Register</a>
                  </li>
                  <li>
                      <a href="">Lives</a>
                  </li>
                  <li>
                      <a href="{% url 'about' %}">About Us</a>
                  </li>
              </ul>
              <p>We create awesome platforms for you.</p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/plugins.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>

    {% block content %} {% endblock %}
</body>
</html>