{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Gamehub-Live</title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="index.html">High<em>way</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Live <em>Now</em></h1>
         
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="masonry" href="#"><img src="{% static 'img/scroll-icon.png' %}" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay loop muted>
        	<source src="{% static 'img/t1.mp4' %}" type="video/mp4" />
        </video>
    </div>


    <div class="masonry-portfolio" id="masonry">
        <div class="container-fluid">
            <div class="masonry">
                <div class="item first-item col-md-4 col-sm-6 col-xs-12">
                  <a href="{% static 'img/big_portfolio_item_1.jpg' %}" data-lightbox="image-1"><div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">
                              <h1>Game1 <em>description</em></h1>
                              <p>Date</p>
                          </div>
                      </div>
                      <div class="image">
                          <img src="{% static 'img/masonry_item_1.jpg' %}">
                      </div>
                  </div></a>
                </div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                  <a href="{% static 'img/big_portfolio_item_2.jpg' %}" data-lightbox="image-1"><div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">
                            <h1>Game2 <em>description</em></h1>
                            <p>Date</p>
                          </div>
                      </div>
                      <div class="image">
                          <img src="{% static 'img/masonry_item_2.jpg' %}">
                      </div>
                  </div></a>
                </div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                  <a href="{% static 'img/big_portfolio_item_3.jpg' %}" data-lightbox="image-1"><div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">
                            <h1>Game3 <em>description</em></h1>
                            <p>Date</p>
                          </div>
                      </div>
                      <div class="image">
                          <img src="{% static 'img/masonry_item_3.jpg' %}">
                      </div>
                  </div></a>
                </div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                  <a href="{% static 'img/big_portfolio_item_5.jpg' %}" data-lightbox="image-1"><div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">
                            <h1>Game4 <em>description</em></h1>
                            <p>Date</p>
                          </div>
                      </div>
                      <div class="image">
                          <img src="{% static 'img/masonry_item_4.jpg' %}">
                      </div>
                  </div></a>
                </div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                  <a href="{% static 'img/big_portfolio_item_6.jpg' %}" data-lightbox="image-1"><div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">
                            <h1>Game5 <em>description</em></h1>
                            <p>Date</p>
                          </div>
                      </div>
                      <div class="image">
                          <img src="{% static 'img/masonry_item_5.jpg' %}">
                      </div>
                  </div></a>
                </div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                  <a href="{% static 'img/big_portfolio_item_9.jpg' %}" data-lightbox="image-1"><div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">
                            <h1>Game6 <em>description</em></h1>
                            <p>Date</p>
                          </div>
                      </div>
                      <div class="image">
                          <img src="{% static 'img/masonry_item_6.jpg' %}">
                      </div>
                  </div></a>
                </div>
                <div class="item last-item col-md-8 col-sm-6 col-xs-12">
                  <a href="{% static 'img/big_portfolio_item_4.jpg' %}" data-lightbox="image-1"><div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">
                            <h1>Game7 <em>description</em></h1>
                              <p>Date</p>
                          </div>
                      </div>
                      <div class="image">
                          <img src="{% static 'img/masonry_item_7.jpg' %}">
                      </div>
                  </div></a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 Amirhosein Abbasi
    
    | Amirhosein</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="{% static 'img/contact-icon.png' %}" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Say hello to <em>Gamehub</em></h3>
          <div class="close-btn"><img src="{% static 'img/close_contact.png' %}" alt=""></div>    
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="{% url 'index' %}">Home </a>
                  </li>
                  <li>
                      <a href="{% url 'register' %}">Register</a>
                  </li>
                  <li>
                      <a href="{% url 'about' %}">About us</a>
                  </li>
                
              </ul>
              <p>We create awesome platforms for you</p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>