{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Gamehub-Register</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">Game<em>hub</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>Register for more... <em></em></h1>
            </div>
        </div>
    </div>

   <!-- gghgh -->
   <div class="blog-entries">
    <div class="container">
        <div class="col-md-9">
            <div class="blog-posts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-blog-post">
                            <img src="{{new.photo.url}}" alt="">
                            <div class="text-content">
                               
                                <div class="modal-body">
                                  <div class="col-md-6 col-md-offset-3">
                                    <form action="{% url 'reg' %}" method="post">
                                        {% csrf_token %}
                                        {{form}}
                                        <div class="row">
                                            <div class="col-md-12">
                                              <fieldset>
                                                <input name="fname" type="text" class="form-control" id="fname" placeholder="Your name..." required>
                                              </fieldset>
                                              <fieldset>
                                                <input name="username" type="text" class="form-control" id="username" placeholder="username..." required>
                                              </fieldset>
                                            </div>
                                            <div class="col-md-12">
                                              <fieldset>
                                                <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                                              </fieldset>
                                            </div>
                                            <div class="col-md-12">
                                              <fieldset>
                                                <input name="tel" type="text" class="form-control" id="tel" placeholder="Your tel..." required>
                                              </fieldset>
                                            </div>
                                          <!-- hayran -->
                                            <div class="col-md-12">
                                              <fieldset>
                                                <button type="submit" id="form-submit" class="btn">Register Now</button>
                                              </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                              
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
    </div>
</div>

   <!-- ds -->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 Amirhosein Abbasi
    
    | Designed by Amirhosein</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="{% static 'img/contact-icon.png' %}" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Say hello to <em>Highway</em></h3>
          <div class="close-btn"><img src="{% static 'img/close_contact.png' %}" alt=""></div>    
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form  action="{% url 'message' %}" method="post">
              {% csrf_token %}
              {{form}}
              <!-- kkdk -->
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="{% url 'index' %}">Home</a>
                  </li>
                  <li>
                      <a href="{% url 'news' %}">News</a>
                  </li>
                  <li>
                      <a href="grid.html">Blog</a>
                  </li>
                  <li>
                      <a href="">Lives</a>
                  </li>
                  <li>
                      <a href="{% url 'about' %}">About Us</a>
                  </li>
                 
              </ul>
              <p>We create awesome Services for you</p>
          </div>
        </div>
      </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>