{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" /> 
    <title>LIVE Streams</title>
</head>
<script>
    videojs('my-player', {
      controls: true,
      autoplay: false,
      preload: 'auto'
    });
</script>
<body>
<h1>OUR VIDEOS</h1>
<hr>     
<div class="container">
    {% for video in videos %}
    <h3 class="text-center mt-2 mb-2">{{video.title}}</h3>
    
    <video
    id="my-video"
    class="video-js"
    controls
    muted = "true"
    preload="auto"
    width="640"
    height="264"
    poster="{{video.thumb.url}}"
    data-setup="{
      'controls': true,
      'autoplay': false,
      'preload': 'auto'
    }"
  >
    <source src="{{video.video.url}}" type="video/mp4" />


  </video>


    {% endfor %}
</div>   
    



<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
</body>
</html>
