<html>
    <head>
        <title>video live stream</title>
    </head>
    <body>
    <h1>Video streaming </h1>
    <img src="{% url 'video_feed' %}">
    <img src="{% url 'webcam_feed' %}">
    </body>
</html>